.scrolling_box{
  position: relative;
  overflow: scroll;
  width: 100%;
  white-space: 'nowrap';// used only to display text as not wrapped lines

  ::-webkit-scrollbar{
    display: block !important;
  }
}