.animation_move_lien{
  position: absolute;
  height: calc(100% - 45px);
  top: 20px;
  width: 4px;
  background-color:#6100ff;

  ::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid #6100ff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-radius: 6px;
    transform: translateX(calc(-13px));
    cursor: pointer;
  }
      
}